.navbarContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: static;
  width: 100%;
  min-height: 4rem;
  max-height: 4rem;
  justify-content: space-between;
  align-content: center;
  background-color: rgba(220, 220, 220, 0);
  /* border: 1px solid white; */
}

.menuTab {
  color: white;
  font-size: 2.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: auto 0 auto auto;
  border: 1px solid orange;
}

.menuItem {
    color: white;
    margin: auto;
    border: 1px solid green;
}

  .title h1 {
    padding: 2.5rem 5rem;

}